<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="weather-logo"></div>
        </div>
    </div>

    <h2 class="text-center mb-5">Sign Up</h2>

    <div class="row justify-content-center" th:if="${errorMessage}">
        <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <div class="alert alert-danger" role="alert">
                <p th:text="${errorMessage}"></p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <form class="mt-4" th:object="${registrationDto}" th:action="@{/registration}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" th:field="*{login}" required/>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" th:field="*{password}" required/>
                </div>
                <div class="mb-3">
                    <label for="repeat-password" class="form-label">Repeat password</label>
                    <input type="password" class="form-control" id="repeat-password" name="rePassword" th:field="*{rePassword}" required/>
                </div>

                <button type="submit" class="btn btn-primary w-100 mt-3">Sign Up</button>
                <p class="mt-2 text-center">Already have an account? <a th:href="@{/login}">Sign in here</a></p>
            </form>
        </div>
    </div>
</div>

</body>
</html>
